main{
	font-size: 0px;
}

.parent-container{
	width: 800px;
	/*height: 500px;*/
	margin-left: auto;
	margin-right: auto;
	margin-top:90px;
}

.cont{
	display: inline-block;
	border: 1px solid black;
}


.container{
	width: 50%;
	height:200px;
}

.container2{
	width:33.33%;
	height: 300px;
}

.greenbox{
	background-color: green;
}

.bluebox{
	background-color: blue;
}

.greybox{
	background-color: grey;
}

.blackbox{
	background-color: black;
}

.yellowbox{
	background-color: yellow;
}

.centered{
	text-align: center;
}