body {
  background-color: black;
  color: white;
}


main{
	margin-right: 200px;
	margin-left: 200px;
}


.right, .left{
	margin-bottom: 10px;
	margin-top:10px;
}


.right{
	float:right;
	margin-left: 10px;
	width : 300px;
}

.left{
	float: left;
	margin-right: 10px;
	width: 300px;
}
